body {
    background-color: whitesmoke;
}


.footer{
    background-color: #063e4f;
}

.footer a{
    text-decoration: none;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 47%;
}

#btn-predict {
    width: 47%;
}

#projects {
    background-color: #ADECFF;
}

