body {
    background-color: whitesmoke;
}


.footer{
    background-color: #063e4f;
}

.footer a{
    text-decoration: none;
    color: white;
}


#btn-predict {
    width: 47%;
}

#projects {
    background-color: #ADECFF;
}

